

.sub_main {
    margin: 0 auto;
}

.sub_main_s1 p {
    color: #2E3035;
    font-size: 34px;
}

.sub_main_s1 h2 {
    color: #2E3035;
    font-size: 56px;
}

.sub_main_s2 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 70px 0;
}

.sub_main_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

.sub_main_s3_text {
    max-width: 1050px;
}

.sub_main_s3_text > p {
    color: #62656A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 5px;
}

.sub_main_s3 > ul {
    display: flex;
    width: 100%;
    padding: 80px 0;
    justify-content: space-between;
}

.sub_main_s3 > ul img {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.sub_main_s4 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
}

.sub_main_s4 h2 {
    font-size: 46px;
}

.sub_main_s4 p {
    font-size: 30px;
    padding-top: 10px;
}

.sub_main_s4 ul {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1px;
    background-color: #181d62;
    border: 1px solid #181d62;
    box-sizing: border-box;
}
.sub_main_s4 ul li {
    padding: 5px 0;
    box-sizing: border-box;
    padding: 0 20px;
}

.sub_main_s4 ul li {
    background-color: #fff;
    font-size: 18px;
}

.sub_main_s4 ul li:first-child {
    background-color: #181d62;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}


.sub_main_s5 {
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 0;
}

.sub_main_s5 h2 {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 46px;
}

.sub_main_s5 img {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 50px 0;
    width: 100%;
}

.sub_main_s5 ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.sub_main_s5 li {
    font-size: 18px;
}

.sub_main_s6 {
    background-color: #181d62;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.sub_main_s6 h2 {
    font-size: 30px;
    color: #fff;
}

.sub_main_s6 p {
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
}

.sub_main_s6 a {
    color: #181d62;
    background-color: #fff;
    font-weight: 700;
    font-size: 22px;
    border-radius: 4px;
    padding: 14px 80px;
    display: block;
}

.sub_s2_img {
    width: 100%;
    margin: 70px 0;
    overflow: hidden;
}

.sub_s2_img img {
    width: 100%;
}

/*p1_1*/


.p1_1_div {
    width: 100%;
    max-width: initial;
}

.sub_main_s1 {
    padding-top: 160px;
    margin: 0 auto;
    max-width: 1200px;
}

.p1_1_s2 {
    width: 100%;
    margin: 70px 0;
}

.p1_1_s2 img {
    width: 100%;
}

.p1_1_s3 {
    margin: 0 auto;
    max-width: 1200px;
}

.p1_1_s3 p {
    color: #62656A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
}

.p1_1_s3 h3 {
    color: #62656A;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
    text-align: right;
}

.p1_1_s4 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.p1_1_s4 img {
    width: 100%;
}

/*p1_1*/

/*p1_2*/

.p1_2_main {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin: 50px 0;
    box-sizing: border-box;
}

.p1_2_main::after {
    display: block;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #9f8473;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.p1_2_main > div {
    position: relative;
}

.p1_2_main > div:nth-child(odd)::before {
    content: "";
    display: block;
    width: 40px;
    background-color: #9f8473;
    height: 1px;
    position: absolute;
    top: calc(35px / 2);
    right: -25px;
}

.p1_2_main > div:nth-child(even)::before {
    content: "";
    display: block;
    width: 40px;
    background-color: #9f8473;
    height: 1px;
    position: absolute;
    top: calc(35px / 2);
    left: -25px;
}

.p1_2_main > div:nth-child(odd) {
    text-align: right;
    padding-right: 50px;
}

.p1_2_main > div:nth-child(odd) > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 10px;
}

.p1_2_main > div:nth-child(even) > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.p1_2_main > div h2 {
    font-size: 30px;
    color: #9f8473;
    font-weight: 500;
    margin-bottom: 10px;
}

.p1_2_main > div p {
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 500;
    line-height: 1.9;
}

.p1_2_main > div:nth-child(even) {
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
}

.p1_2_img {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.p1_2_img img {
    width: 100%;
}

/*p1_2*/

/*p1_3*/

.p1_3_s2 {
    width: 100%;
    margin: 70px 0;
}

.p1_3_s2 img {
    width: 100%;
}

.p1_3_s3_div1 {
    max-width: 1200px;
    margin: 0 auto;
}

.p1_3_s3_div1 > h2 {
    color: #000;
    font-size: 34px;
}

.p1_3_s3_div1 > h3 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
}

.p1_3_s3_div2 img {
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.p1_3_s3_div3 {
    max-width: 1200px;
    margin: 0 auto;
}

.p1_3_s3_div3 > p {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
}

.p1_3_s3_div3 span {
    font-weight: bold;
}

.p1_3_s3_div4 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.p1_3_s3_div4 img {
    width: 100%;
}

.p1_3_imgdiv {
    width: 100%;
  max-width: 484px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

/*p1_3*/

/*p1_4*/


.p1_4 {
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #F3F4F8;
    margin-top: 50px;
}

.p1_4 h2 {
    padding-bottom: 50px;
    text-align: center;
    color: #000;
    font-size: 34px;
}

.p1_4 .root_daum_roughmap_landing {
    width: 100%;
    max-width: 1200px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.p1_4 .root_daum_roughmap .wrap_map {
    height: 600px;
}

/*p1_4*/

/*p2_1*/

.p2_1_s2 {
    width: 100%;
    position: relative;
    margin: 70px 0;
}

.p2_1_s2 > img {
    width: 100%;
}

.p2_1_s2 p {
    position: absolute;
    left: 5%;
    font-size: 46px;
    color: #fff;
    bottom: 20%;
    font-weight: bold;
}

.p2_1_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

.p2_1_s3 > p {
    color: #62656A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
}

.p2_1_s4 {
    width: 100%;
    background-color: #F3F4F8;
    padding: 50px 0;
    margin: 50px 0;
}

.p2_1_s4 > div {
    max-width: 1200px;
    margin: 0 auto;
}

.p2_1_s4 h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

.p2_1_s4 ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;
}

.p2_1_s4 img {
    width: 100%;
}

.p2_1_s5 {
    max-width: 1200px;
    margin: 0 auto;
}

.p2_1_s5 h2 {
    font-size: 34px;
}

.p2_1_s5 > p {
    color: #62656A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.p2_1_s5 img {
    width: 100%;
}

/*p2_1*/

/*p2_2*/

.p2_2_s2 {
    margin: 70px 0;
}

.p2_2_s2 img {
    width: 100%;
}

.p2_2_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

.p2_2_s3 h2 {
    font-size: 34px;
    margin-bottom: 30px;
    text-align: center;
}

.p2_2_s3 ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}

.p2_2_s3 ul img {
    width: 100%;
}

.p2_2_s3 p {
    color: #62656A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.3px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.p2_2_s4 {
    background-color: #F3F4F8;
    padding: 50px 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
}

.p2_2_s4 img {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.p2_2_s4 ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 50px;
    justify-items: center;
}


.p2_2_s4 h2 {
    font-size: 34px;
    margin-bottom: 30px;
    text-align: center;
}


/*p2_2*/

/*p2_3*/

.p2_3_div {
    max-width: 1200px;
    margin: 0 auto;
}


/*p2_3*/

/**/

.p3_1_div {
    width: 100%;
    margin: 0 auto;
}

.p3_1_div > h2 {
    text-align: center;
    font-size: 40px;
}

.p3_1_div > ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 0;
}

.p3_1_div > ul li {
    position: relative;
    display: block;
}

.p3_1_div > ul h2 {
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 5px;
    /*background-color: rgb(159, 132, 115,0.7);*/
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.p3_1_div > ul img {
    width: 100%;
}

.p3_1_div li {
    border: 2px solid transparent;
}

.p3_1_div li:hover {
    border: 2px solid #9f8473;
}

/**/

/*pd*/

.pd_div {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.pd_div img {
    width: 100%;
}

.bgc_1 {
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 50%;
    max-width: 980px;
    z-index: -1;
    top: 50%;
}

.pd_div_text > table {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    background-color: #fff;
}


.pd_div_text tr {
    border: 1px solid #83614c;
    box-sizing: border-box;
}

.pd_div_text tr > td:last-child,
.tr_3,
.tr_4 {
    border-left: 1px solid #83614c;
    box-sizing: border-box;
}

.pd_div_text tr > td {
    padding-left: 10px;
    font-weight: normal;
    line-height: 1.7;
    color: #292929;
}

.pd_div_text tr > td:first-child,
.pd_div_text tr > .tr_4 {
    background-color: #9f8473;
    color: #fff;
    font-weight: 600;
}

.tr_4 {
    padding: 0 10px;
    text-align: center;
}

.pd_div_text tr > td:first-child {
    min-width: 120px;
}


/*pd*/

/*p4_1*/

.p4_1_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

/*p4_1*/

/*p5_1*/

.p5_1_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

/*p5_1*/

/*p5_2*/

.p5_2_s3 {
    max-width: 1200px;
    margin: 0 auto;
}

/*p5_2*/


.pc_img {
    display: block;
}

.m_img {
    display: none;
}

@media all and (max-width:1100px) {
    .sub_main_s1 {
        padding: 0 10px;
        padding-top: 160px;
        box-sizing: border-box;
    }
    .p1_1_s3 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p1_2_bg > div {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .sub_main_s3 > ul {
        grid-gap: 10px;
    }
    .sub_main_s3 > ul img {
        width: 100%;
    }
    .sub_main_s2_text {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .sub_main_s3 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .sub_main_s4 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .sub_main_s5 h2,
    .sub_main_s5 ul {
        padding: 0 10px;
        box-sizing: border-box;
    }
}

@media all and (max-width:900px) {
    .pc_img {
        display: none;
    }
    .m_img {
        display: block;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: 210%!important;
    }
    .sub_main_s1 p {
        font-size: 20px;
        max-width: 290px;
    }
    .sub_main_s1 h2 {
        font-size: 26px;
    }
    .sub_main_s2 {
        height: 300px;
    }
    .p1_1_s2 {
        margin: 50px 0;
    }
    .p1_1_s3 p {
        font-size: 16px;
    }
    .p1_2 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p1_2_bg h2 {
        font-size: 22px;
    }
    .root_daum_roughmap .wrap_map {
        height: 300px;
    }
    .p1_2_bg {
        height: initial;
    }
    .p1_2_main {
        grid-template-columns: repeat(1,1fr);
    }
    .p1_2_main > div:nth-child(odd) > div {
        flex-direction: row;
    }
    .p1_2_main > div:nth-child(odd) {
        padding-right: initial;
        text-align: left;
        padding-left: 50px;
    }
    .p1_2_main > div:nth-child(even) {
        margin-top: initial;
    }
    .p1_2_main::after {
        left: 0;
        transform: initial;
    }
    .p1_2_main > div:nth-child(odd)::before {
        right: initial;
        left: 0;
    }
    .p1_2_main > div:nth-child(even)::before {
        content: "";
        display: block;
        width: 40px;
        background-color: #9f8473;
        height: 1px;
        position: absolute;
        top: calc(35px / 2);
        left: 0;
    }
    .sub_main_s2_text h2 {
        font-size: 20px;
    }
    .sub_main_s3_text > p {
        font-size: 16px;
    }
    .sub_main_s4 {
        grid-template-columns: repeat(1,1fr);
    }
    .sub_main_s4 h2 {
        font-size: 30px;
    }
    .sub_main_s4 p {
        font-size: 20px;
    }
    .sub_main_s4 ul {
        margin-top: 20px;
    }
    .sub_main_s5 {
        padding: 40px 0;
        overflow: hidden;
    }
    .sub_main_s5 h2 {
        font-size: 30px;
    }
    .sub_main_s5 img {
        padding: 30px 0;
        width: 150%;
    }
    .sub_main_s6 {
        flex-direction: column;
        text-align: center;
    }
    .sub_main_s6 h2 {
        font-size: 24px;
    }
    .sub_main_s6_div2 {
        margin-top: 20px;
    }
    #privacy_agreement {
        width: 100%!important;
    }
    .p1_3_s2 {
        margin: 50px 0;
    }
    .p1_3_s3_div1,
    .p1_3_s3_div3,
    .p1_3_s3_div4 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p1_3_s3_div2 {
        overflow: hidden;
    }
    .p1_3_s3_div2 > img {
        width: 200%;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
    }
    .p1_3_s3_div1 > h2 {
        font-size: 20px;
    }
    .p1_3_s3_div1 > h3 {
        font-size: 16px;
    }
    .p1_3_s3_div3 > p {
        font-size: 16px;
    }
    .p1_4 h2 {
        font-size: 26px;
        padding-bottom: 20px;
    }
    .p1_4 .root_daum_roughmap_landing {
        padding: 30px 10px;
        box-sizing: border-box;
    }
    .p1_4 .root_daum_roughmap .wrap_map {
        height: 300px;
    }
    .p2_1_s2 {
        margin: 50px 0;
    }
    .p2_1_s2 p {
        font-size: 26px;
        bottom: 10%;
    }
    .p2_1_s3 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p2_1_s3 > p {
        font-size: 16px;
    }
    .p2_1_s4 {
        padding: 50px 10px;
        box-sizing: border-box;
    }
    .p2_1_s4 h2 {
        font-size: 26px;
    }
    .p2_1_s4 ul {
        grid-gap: 10px;
    }
    .p2_1_s5 {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p2_1_s5 h2 {
        font-size: 26px;
    }
    .p2_1_s5 > p {
        font-size: 16px;
    }
    .p2_2_s2 {
        margin: 50px 0;
    }
    .p2_2_s3 ul {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p2_2_s3 h2 {
        font-size: 26px;
    }
    .p2_2_s4 ul {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .p2_2_s4 ul > li:first-child img {
        width: 100%;
        max-width: 450px;
    }
    .p2_2_s4 ul > li:last-child img {
        width: 100%;
    }
    .p2_2_s3 ul {
        grid-gap: 10px;
    }
    .p2_2_s3 p {
        font-size: 16px;
        padding: 10px 5px 0 5px;
    }
    .p2_2_s4 h2 {
        font-size:26px;
    }
    .p3_1_div > ul {
        padding: 50px 10px;
        grid-template-columns: repeat(3,1fr);
    }
    .p3_1_div > ul h2 {
        font-size: 12px;
    }
    .pd_div_text {
        padding: 0 10px;
        box-sizing: border-box;
    }
}


@media all and (max-width:600px) {
    .pd_div_text > table {
        font-size: 10px;
    }
    .pd_div_text tr > td:first-child {
        min-width: 80px;
    }
}